# This is a Capstone project for Coursera couse "Applied Data Science Capstone" 


## Objectives - Part 2 - Add geo-code to Toronto data set to base on Postal code 

- Get geo-code data from csv file
- Join to dataset to create 1 data set that contain Neighbourhood data and Geo codes

In [ ]:
import pandas as pd

In [15]:
#Read data from Wikipedia using pandas to read it to a dataframe

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)

dfs[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [16]:
#Find out if there are rows that has Borough is not "Not assigned" however Neighbourhood is "Not assigned"
df_to_exclude = dfs[0].loc[(dfs[0]['Borough'] != 'Not assigned') & (dfs[0]['Neighbourhood'] == 'Not assigned')]
df_to_exclude.shape

(0, 3)

In [17]:
#Base on result of query above, it is clear that there is no data which has 
# Neighbourhood = Not assigned however Borough is different from "Not assigned"

#We can clean data just by removing rows that has Borough is "Not assigned"
df_toronto = dfs[0].loc[dfs[0]['Borough'] != 'Not assigned']
df_toronto

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [18]:
#Join rows that has same Postal code and Borough to remove duplications if any
df_toronto_2 = df_toronto.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
#Sort by Postal Code
df_toronto_2.sort_values(by=['Postal Code'])
df_toronto_2

#Seeing the result below we can also conclude that there is no duplications in Postal code and Borough

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [19]:
df_toronto_2.shape

(103, 3)

## Read Geocode data from CSV and Join with data get from Wikipedia to form a dataset with Geocode

In [20]:
#Read the geocodeing of Postalcode from csv file
url_geo = 'http://cocl.us/Geospatial_data'
df_geo = pd.read_csv(url_geo)

df_geo

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

## Below is the data set that is merged

In [13]:
# Joins/merges two dataset base on the Postal code

df_toronto_with_geo = pd.merge(df_toronto_2, df_geo, on=['Postal Code'])
df_toronto_with_geo

df_toronto_with_geo

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [22]:
df_toronto_with_geo.shape

(103, 5)